.container{
  position:absolute;
  width:40%;
  left:40%;
  max-height:800px;
  top:150px;
  max-width:400px;
  z-index:250;
  border:2px solid #cdd6e0;
  background-color: #ebebeb;
  border-radius:10px;
  transition-duration: 0.15s;
}

.popup-submit{
  position:static;
}

button[type="submit"]{
  float:right;
  margin-bottom:15px;
  margin-left:20px;
  margin-left: 20px;
  margin-right: 6px;
}

.hidden{
  opacity:0;
  z-index:0;
  display:none;
}

.popup-date{
  padding-left: 2px;
  padding-right: 0;
  margin-top: auto;
  margin-bottom: auto;
}
