.profile-creation,
.login-form{
  display: inline-flex;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  padding: 1%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.flex-container{
  display: flex;
  align-items: flex-end;
}
body{
  background-color: #e8e8e8;
}
.data-container{
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.form-container{
  display: inline-flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}
.file-upload {
  position: relative; /* Даем возможность делать позиционирование, внутри данного элемента */
  overflow: hidden; /* Все что выходит за пределы - скрываем */
  width: 150px; /* Задаем ширину кнопки выбора файла */
  height: 20px; /* Задаем высоту кнопки выбора файла */
  background: #5f5f5f;
  border-radius: 3px;
  padding: 8px 4px;
  color: #fff;
  text-align: center;
  margin: 10px;
}
.file-upload:hover {
  background: #767676;
}
.file-upload input[type="file"]{
  display: none; /* Обязательно скрываем настоящий Input File */
}
.file-upload label {
  /* Растягиваем label на всю возможную площадь блока .file-upload */
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.file-upload span {
  line-height: 36px; /* Делаем вертикальное выравнивание текста, который написан на кнопке */
}
.page-name{
  text-transform: uppercase;
}