<header class="header">
  <form
    class="form-page__login-form"
    #loginForm="ngForm"
    id="login-form"
    method="get"
    onsubmit="signIn()"
    action="/HR-app">
    <h4 class="header-4">{{ title }}</h4>
    <div class="login-form__inputs-wrapper">
      <label class="login-form__label" for="login">Login</label>
      <div class="login-form__field-wrapper">
        <input
          (ngModel)="login"
          #login="ngModel"
          name="login"
          class="login-form__input"
          type="text"
          id="login"
          placeholder="Login"
          required>
        <div class="login-form__text">Please, enter your login</div><span id="decor" class="decor opacity-0"></span>
      </div>
      <label class="login-form__label" for="password">Password</label>
      <div class="login-form__field-wrapper">
        <input
         (ngModel)="password"
         #password = "ngModel"
         name="password"
         class="login-form__input input--valid-check"
         type="password"
         id="password"
         placeholder="Password"
         minlength="6"
         maxlength="24"
         required>
        <div class="login-form__text">
          Please, enter your password
        </div>
        <span id="decor" class="decor opacity-0"></span>
      </div>
    </div>
    <span id="incorrect-password-popup" class="login-form__info-text d-none text--red">
      The email or password you entered is incorrect.
    </span>
    <input
      class="button login-form__submit"
      type="submit"
      value="Sign in">
    <!-- [disabled]="!loginForm.valid" -->
    <a
      class="login-form__no-account-link header-link"
      routerLink="/register">
      Has no profile :(
    </a>
    <a
      class="login-form__no-account-link header-link"
      routerLink="/login">
      Log In
    </a>
  </form>
</header>
