<header class="header">
  <form
    class="form-page__login-form"
    #loginForm="ngForm"
    (ngSubmit)="onSubmit()"
    >
    <h4 class="header-4">Enter</h4>
    <div class="login-form__inputs-wrapper">
      <label class="login-form__label" for="userLogin">Login</label>
      <div class="login-form__field-wrapper">
        <input
          [(ngModel)]="user.login"
          (keyup)="loginInput()"
          #loginInp
          class="login-form__input"
          type="text"
          name="loginInp"
          id="userLogin"
          placeholder="Login"
          required>
        <div class="login-form__text">Please, enter your login</div><span id="decor" class="decor opacity-0"></span>
      </div>
      <label class="login-form__label" for="userPassword">Password</label>
      <div class="login-form__field-wrapper">
        <input
          (keyup)="loginInput()"
          [(ngModel)]="user.password"
          #password = "ngModel"
          name="passwordInp"
          class="login-form__input input--valid-check"
          type="password"
          id="userPassword"
          placeholder="Password"
          minlength="5"
          maxlength="24"
          required>
        <div #popups class="login-form__text">
          Please, enter your password
        </div>
        <span id="decor" class="decor opacity-0"></span>
      </div>
    </div>
    <span id="incorrect-password-popup" class="login-form__info-text d-none text--red">
      The email or password you entered is incorrect.
    </span>

    <input
      [disabled]="!loginForm.valid"
      id="submitBtn"
      class="button login-form__submit"
      type="submit"
      value="Sign in"
      [disabled]="!loginForm.form.valid">
    <a class="login-form__no-account-link header-link"
      routerLink="/register">
      Sign up
    </a>
  </form>
</header>
