.ql-toolbar {
  padding: 0 1rem !important;
}

.no-border {
  border-bottom: none !important;
}

.tabs-wrapper {
  margin-bottom: 10px;
}
.tabs {
  background-color: unset !important;
  height: 40px !important;
  border-bottom: 1px solid #eee !important;
}

.checkbox-day {
  height: 42px;
}

@media only screen and (min-width: 603px) {
  .tabs .tab a {
    padding: 0 8px !important;
  }
}

@media only screen and (max-width: 603px) {
  .tabs .tab a {
    padding: 0 6px !important;
    font-size: 12px !important;
  }
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}


.dd-select {
  border: none !important;
  
}
.dd-selected {
  height: 3rem !important;
  padding: 13px !important;
}

.margin-left {
  margin-left: 1rem !important;
}

.colorpicker-wrapper {
  padding-left: 0 !important;
}

.select-dropdown {
  margin-bottom: 0 !important;
  border: none !important;
}

.row {
  margin-bottom: 0.6rem !important;
}

.modal {
  min-height: 93%;
  overflow-y: visible !important;
}

@media (max-width: 1024px) and (min-height: 812px) {
  .modal {
    min-height: fit-content;
  }
  .modal-submit {
    display: none !important;
  }
}

@media (max-width: 875px) {
  .modal {
    overflow-y: scroll !important;
  }
}

.material-icons {
  margin: 0 !important;
}

@media (max-width: 330px) {
  .modal {
    width: 95% !important;
  }
}

.select-wrapper .caret {
  top: 25%;
}

.input--small {
  height: 2rem !important;
  margin-bottom: 0 !important;
  padding-left: 10px !important;
}

.editor {
  height: 6rem;
}

.editor-wrapper {
  height: 12rem;
}

@media (min-height: 796px) {
  .modal-submit {
    display: none !important;
  }
}

@media (min-height: 824px) {
  .editor {
    height: 10rem;
  }
}

@media (max-width: 796px) {
  .modal-submit {
    display: none !important;
  }
}

