<div class="hr-app__table" *ngIf='data && data.count' id="hr-app__table">

  <div class="table--row hr-app__table__header-row">
    <div class="hr-app__table-col table--header-col col--position" >Position</div>
    <div class="hr-app__table-col table--header-col col--requirements" >Requirements</div>
    <div class="hr-app__table-col table--header-col col--work experience" >Work Experience
    </div>
    <div class="hr-app__table-col table--header-col col--view candidates" >View Candidates
    </div>
  </div>
  <div class="hr-app__table__row table--row table-row--big" *ngFor="let item of data.docs">
    <div class="hr-app__table-col">
      <div class="hr-app__table-col__advantages">{{item.position}}</div>
    </div>
    <div class="hr-app__table-col">
      <div class="hr-app__table-col__advantages">{{item.requirements}}
      </div>
    </div>
    <div class="hr-app__table-col">
      <div class="hr-app__table-col__advantages">{{item.workExperience}} years</div>
    </div>
    <!--<div class="hr-app__table-col"><a class="hr-app__table-col__button"  routerLink="/candidates?currentPage=1&limit=10&filter=%7B%22name%22:%22%22,%22position%22:%22{{item.position}}%22,%22statusName%22:%22Any%22%7D">View Candidates</a>-->
    <div class="hr-app__table-col"><a class="hr-app__table-col__button"  [routerLink]="['/candidates']" [queryParams]="{position: item.position}">View Candidates</a>
    </div>
  </div>

  <div class="hr-app__table-editor">
    <div class="hr-app__table-editor__col">
      <div class="hr-app__table-editor__text">Rows per page:</div>
      <app-dropdown (onChanged)="onChange()"></app-dropdown>

    </div>
    <div class="hr-app__table-editor__col order-2">
      <div class="hr-app__table-editor__pagination">{{(offset-1)*limit+1}} - {{(offset-1)*limit + limit}} of {{data.count}}</div>
    </div>
    <div
      class="hr-app__table-editor__page-buttons hr-app__table-editor__col order-1 order-lg-2">

      <app-pagination [data]="data" [limit]="limit" (onChanged)="onChange()" ></app-pagination>
    </div>
    <div class="hr-app__fixed-round">
      <div class="hr-app__fixed-round__plus">+</div>
    </div>
  </div>
</div>
