<div class="hr-app__filters-bar" id="candidates-filters-bar">
  <div class="hr-app__filters-bar__header-wrapper">
    <h3 class="hr-app__filters-bar__header hr-app-section&#45;&#45;header">Candidates</h3>
    <button class="btn btn-info"><a class="see-schedule-btn" routerLink="/interviews">See schedule</a>
    </button>
    <button class="hr-app__filters-bar__add-profile-button"><span>+</span></button>
  </div>
  <div class="hr-app__filters-bar__wrap">
    <div class="hr-app__filters-bar__text-wrapper" data-toggle="collapse" data-target="" role="button"
         aria-expanded="false" aria-controls="filters-bar-collapse">
      <div class="hr-app__filters-bar__text">Filter by</div>
      <svg class="icon icon-ARROW ">
        <use xlink:href="assets/images/svg/symbol/sprite.svg#ARROW"></use>
      </svg>
    </div>
    <div class="hr-app__filters-bar__fields-wrapper" id="candidates-filters-bar-collapse"
         data-parent="#hr-app__table">
      <div class="hr-app__filters-bar__filter-item">
        <div class="hr-app__filters-bar__select-text">Name</div>
        <div class="hr-app__filters-bar__input-wrap">
          <input class="hr-app__filters-bar__input" (input)="changeName($event)" type="text"/>
        </div>
      </div>
      <div class="hr-app__filters-bar__filter-item">
        <div class="hr-app__filters-bar__select-text">Age</div>
        <div class="hr-app__filters-bar__input-wrap justify-content-between"><span
          class="hr-app__filters-bar__input-wrap__text">from</span>
          <input class="hr-app__filters-bar__input small&#45;&#45;input" type="text" maxlength="2"/><span
            class="hr-app__filters-bar__input-wrap__text">to</span>
          <input class="hr-app__filters-bar__input small&#45;&#45;input" type="text" maxlength="2"/>
        </div>
      </div>
      <div class="hr-app__filters-bar__filter-item">
        <div class="hr-app__filters-bar__select-text">Status</div>
        <ng-select ngClass="custom" [items]="statusData"
                   bindLabel="name"
                   bindValue="name"
                   placeholder="Select value"
                   [(ngModel)]="selectedItemName"
                   (change)="onChange()"></ng-select>

      </div>
      <div class="hr-app__filters-bar__pagination"><span>1</span><span> of</span><span> 12</span></div>
      <div class="hr-app__filters-bar__sort-button-wrapper">
        <div class="hr-app__filters-bar__sort-button">Filter</div>
      </div>
    </div>
  </div>
</div>
