<div class="hr-app-section__right-bar__search-bar">
  <div class="hr-app-section__right-bar__search-bar__hamburger-wrapper">
    <svg class="icon icon-HAMBURGER ">
      <use xlink:href="assets/images/svg/symbol/sprite.svg#HAMBURGER"></use>
    </svg>
  </div>
  <div class="hr-app-section__right-bar__search-field-wrap">
    <svg class="icon icon-SEARCH ">
      <use xlink:href="assets/images/svg/symbol/sprite.svg#SEARCH"></use>
    </svg>
    <form class="hr-app-section__right-bar__search-form" action="">
      <input class="hr-app-section__right-bar__search-input" type="search" id="vacancies-search"
             placeholder="Search...">
    </form>
  </div>
  <div class="hr-app-section__right-bar__icon-panel-wrap">
    <svg (click)="toggleSideBar()"
          class="icon icon-BELL " data-btn-menu>
      <use xlink:href="assets/images/svg/symbol/sprite.svg#BELL"></use>
    </svg>
    <svg class="icon icon-exit ">
      <use xlink:href="assets/images/svg/symbol/sprite.svg#exit"></use>
    </svg>
  </div>
</div>
