body {
  font-family: Roboto, Arial;
}

.wrapper {
  display: flex;
}

.content {
  width: 100%;
}

:root {
  --col-width: 300px;
}

.right-col {
  max-width: 300px;
  width: 100%;
  position: fixed;
  right: -300px;
  top: 40px;
  bottom: 0;
  background: #fff;
  transition: right 0.4s;

  &._active {
    right: 0;
    z-index: 5;
    box-shadow: -15px 0 31px -25px rgba(0,0,0,0.75);
  }

  &__header {
    display: flex;
  }

  &__item {
    position: relative;
    height: 50%;
    display: flex;
    flex-direction: column;
  }

  &__title {
    padding-top: 20px;
    padding-left: 20px;
    font-size: 20px;
    color: #878787;
    margin-bottom: 30px;
  }
}